body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 3vh;
}

.container {
    max-width: 860px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: scroll;
}

h3 {
    font-size: 2em;
}

.thumbnail {
    margin: 10px 0;
}